<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>健康之路</title>
    <meta name="description" content="健康之路">
    <meta name="keywords" content="健康之路">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>预约管理
            <small>检查项管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>预约管理</el-breadcrumb-item>
            <el-breadcrumb-item>检查项管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="项目编码/项目名称" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="findPage(1)" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="code" label="项目编码" align="center"></el-table-column>
                <el-table-column prop="name" label="项目名称" align="center"></el-table-column>
                <el-table-column label="适用性别" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.sex == '0' ? '不限' : scope.row.sex == '1' ? '男' : '女'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="age" label="适用年龄" align="center"></el-table-column>
                <el-table-column prop="remark" label="项目说明" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog :title="titles" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目编码" prop="code">
                                    <el-input v-model="formData.code"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="项目名称" prop="name">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="性别">
                                    <el-select v-model="formData.sex">
                                        <el-option label="不限" value="0"></el-option>
                                        <el-option label="男" value="1"></el-option>
                                        <el-option label="女" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="适用年龄">
                                    <el-input v-model="formData.age"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="类型">
                                    <el-select v-model="formData.type">
                                        <el-option label="检查" value="1"></el-option>
                                        <el-option label="检验" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="价格">
                                    <el-input v-model="formData.price"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="项目说明">
                                    <el-input v-model="formData.remark" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="注意事项">
                                    <el-input v-model="formData.attention" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="addOrUp()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script src="../js/public.js"></script>
<script src="../js/qs.js"></script>
<script>
    // axios.defaults.withCredentials = true;
    var vue = new Vue({
        el: '#app',
        mixins: [Mixins],
        data: {
            titles: "",
            addOrUpNum: 1,
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            dataList: [],//当前页要展示的分页列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            rules: {//校验规则
                code: [{required: true, message: '项目编码为必填项', trigger: 'blur'}],
                name: [{required: true, message: '项目名称为必填项', trigger: 'blur'}]
            },
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
        },
        methods: {
            addOrUp() {
                if (this.addOrUpNum == 1) {
                    //更新
                    this.handleEdit();
                } else {
                    //插入
                    this.handleAdd();
                }
            },
            //编辑
            handleEdit() {
                //数据校验
                this.$refs["dataAddForm"].validate((valid) => {
                    if (valid) {
                        //数据校验成功,发起http请求
                        axios({
                            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                            method: 'post',
                            url: this.baseUrl + "item/updateCheck",
                            data: Qs.stringify(this.formData)
                        }).then((res) => {
                            console.log(res);
                            this.$message({
                                message: res.data.message,
                                type: 'success'
                            });
                            this.findPage(1);
                            this.dialogFormVisible = false;
                        }).catch((error) => {
                            console.log(error);
                            this.$message.error("网络异常");
                        });
                    } else {
                        //数据校验失败
                        this.$message.error("数据校验失败");
                    }
                })
            },
            //添加
            handleAdd() {
                this.$refs["dataAddForm"].validate((valid) => {
                    if (valid) {
                        //验证成功，发起http请求
                        axios({
                            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                            method: 'post',
                            url: this.baseUrl + "item/addItem",
                            data: Qs.stringify(this.formData)
                        }).then((res) => {
                            console.log(res);
                            this.$message({
                                message: res.data.message,
                                type: 'success'
                            });
                            this.findPage(1);
                            this.dialogFormVisible = false;
                        }).catch((error) => {
                            console.log(error);
                            this.$message.error("网络异常");
                        });
                    } else {
                        //验证失败
                        this.$message.error("数据验证失败");
                    }
                });
            },
            //分页查询
            findPage(pageNo) {
                let that = this;
                //如果传入页码则先更新模型中的页码
                if (pageNo) {
                    this.pagination.currentPage = pageNo;
                }
                //构造请求参数
                var param = {
                    currentPage: that.pagination.currentPage,
                    pageSize: that.pagination.pageSize,
                    queryString: that.pagination.queryString
                };
                //发起http请求
                axios({
                    method: 'get',
                    url: that.baseUrl + "item/queryItem",
                    params: param
                }).then((res) => {
                    console.log(res);
                    that.dataList = res.data.data.rows;
                    that.pagination.total = res.data.data.total;
                    this.$message({
                        message: res.data.message,
                        type: 'success'
                    });
                }).catch((error) => {
                    this.$message.error("网络异常");
                });

            },
            // 重置表单
            resetForm(formName) {
                if (this.$refs[formName]) {
                    this.formData = {}
                    this.$refs[formName].resetFields();
                }
            },
            // 弹出窗口
            handleCreate() {
                this.titles = "添加";
                this.addOrUpNum = 2;
                this.dialogFormVisible = true;
                this.resetForm('dataAddForm');
            },
            // 编辑
            handleUpdate(row) {
                var that = this;
                that.handleCreate();
                that.addOrUpNum = 1;
                that.titles = "更新";
                console.log(row)
                //获取数据
                axios({
                    method: 'get',
                    url: this.baseUrl + "item/oneUpdate/" + row.id
                }).then((res) => {
                    console.log(res);
                    that.formData = res.data.data;
                    this.$message({
                        message: res.data.message,
                        type: 'success'
                    });
                }).catch((error) => {
                    console.log(error);
                    this.$message.error("网络异常");
                });
            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            // 删除
            handleDelete(row) {
                //alert(row.id);
                this.$confirm("确认删除当前选中记录吗？", "提示", {type: 'warning'}).then(() => {
                    //点击确定按钮时只需此处代码
                    axios({
                        method: 'get',
                        url: this.baseUrl + "item/delItem/" + row.id,
                    }).then((res) => {
                        console.log(res);
                        if (res.flag) {
                            this.$message({
                                message: res.data.message,
                                type: 'success'
                            });
                            this.findPage(1);
                        } else {
                            this.$message.error(res.data.message);
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message.error("网络异常");
                    })
                });
            }
        }
    })
</script>
</html>