<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @Author: xiaozhang666 -->
<!-- @Date: 2020/10/7 23:14 -->
<mapper namespace="cn.zys.mapper.RoleMapper">
    <select id="selectByUserId" resultType="cn.zys.pojo.Role">
        SELECT *
        FROM t_role
        WHERE id IN (SELECT role_id FROM t_user_role WHERE user_id = #{userId})
    </select>
</mapper>